@use "../../var";

$tail-size: 1.45vh;

.text {
  max-width: 90%;
  display: flex;
  margin-bottom: 1.25rem;
  font-family: brandon-grotesque;

  &__avatar {
    // NOTE: This is meant to match the height of the name div
    margin-top: 2.01vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1.674vh;
    flex-shrink: 0;

    img {
      width: 5vh;
      height: 5vh;
    }
  }

  &__content {
    &__name {
      margin-left: $tail-size;
      font-size: 1.4vh;
      color: #0000003c;
      text-transform: uppercase;
    }

    &__bubble {
      &__tail {
        height: $tail-size;
        border-radius: 0 $tail-size 0 0;

        &:before {
          width: $tail-size;
          height: $tail-size;
          background-color: #fff;
          border-radius: 0 $tail-size 0 0;
          display: block;
          content: "";
        }
      }
      &__text {
        margin-left: $tail-size;
        padding: 1.451vh;
        padding-right: 1.786vh;
        padding-top: 0;
        border-radius: 0 0 $tail-size $tail-size;
        font-size: var.$text-font-size;
        line-height: 1.3;
        font-weight: 500;

        &.text__content__bubble__text--typing {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  &.text--user {
    align-self: flex-end;
    .text {
      &__avatar {
        display: none;
      }
      &__content {
        &__name {
          text-align: right;
          margin-right: $tail-size;
        }

        &__bubble {
          margin-right: $tail-size;
          max-width: unset;
          &__tail {
            height: $tail-size;
            border-radius: $tail-size 0 0 0;
            display: flex;
            flex-direction: row-reverse;

            &::before {
              content: none;
            }

            &::after {
              width: $tail-size;
              height: $tail-size;
              background-color: #fff;
              border-radius: $tail-size 0 0 0;
              display: block;
              content: "";
            }
          }
          &__text {
            margin-right: $tail-size;
            padding-right: 1.451vh;
            padding-left: 1.786vh;
            margin-left: 0;

            &.text__content__bubble__text--typing {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  &__emoji {
    height: 1.2em;
    width: auto;
    display: inline;
    vertical-align: baseline;

    &-text {
      display: inline;
    }
  }

  &__icon-phone {
    height: 5vh;
    width: auto;
  }
}

.question-options {
  list-style-type: upper-alpha;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
  & > li::marker {
    font-weight: bold;
  }

  &.question-options__numerical {
    list-style-type: decimal;
  }
}
