@use "../../util";

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 auto;
  width: util.px_to_vh(246, 896);

  &__main {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: util.px_to_vh(28, 896);
    line-height: 1.2;
  }

  &__sub {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
  }
}
